{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                    <h2 class="card-title display-6 mb-4">Bienvenido {{ user.email }}</h2>
                    <p class="card-text lead">Seleccione una opción del menú.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
