{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row mb-4">
        <div class="col">
            <h2 class="display-4">Pedidos</h2>
        </div>
        <div class="col text-end">
            <a href="{{ url_for('order_new') }}" class="btn btn-primary">
                <i class="fas fa-plus"></i> Nuevo Pedido
            </a>
        </div>
    </div>

    <div class="card shadow">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for o in orders %}
                <tr>
                    <td>{{ o.id }}</td>
                    <td>{{ o.proveedor }}</td>
                    <td>{{ o.fecha }}</td>
                    <td>{{ o.total }}</td>
                    <td>{{ o.estado }}</td>
                </tr>
                 {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}